body{
    background-color: white;
    padding-right: 0 !important;
    /*display:none;*/
    /*font-size:10px*/
}
h3, h4, body{
    font-family: "Times New Roman", Times, serif;  
}
h4:first-letter{
    text-transform: uppercase;
}
.row{
    padding-left:10%;
    padding-right:10%;
}
.row-top{
    margin-top:20px
}
.overWritePrimary
{
    color: #3B3B3B; 
    background-color: white; 
    border-color: #3B3B3B;
    font-family: "Times New Roman", Times, serif;
    cursor:pointer;

}
input[type=text], input[type=number], input[type=date], .overWritePrimary{
    border-radius: 0;
}
.overWritePrimary.disabled, .overWritePrimary:disabled
{
    color: #3B3B3B; 
    background-color: #EDEDED;
    font-family: "Times New Roman", Times, serif;
    border-color: #3B3B3B;
    cursor:not-allowed;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #EDEDED;
}
.overWritePrimary:not(:disabled):not(.disabled):active,
.overWritePrimary:not(:disabled):not(.disabled).active,
.overWritePrimary:not(:disabled):not(.disabled):active:focus, 
.overWritePrimary:not(:disabled):not(.disabled).active:focus, 
overWritePrimary:disabled, .overWritePrimary.disabled,
/*.show > .overWritePrimary.dropdown-toggle:focus,*/
.overWritePrimary:not(:disabled):not(.disabled):hover
{
    color: #3B3B3B;
    background-color: #E2EFDA;
    /*#B4EEB4;*/
    /*#EDEDED;*/
    border-color: #3B3B3B;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); 
    box-shadow: none;
}
.pull-right{
    float:right;
}
.overWritePrimary{
    min-width:65px;
}
.selectedCond{
    margin-top: 12px;
}
.selectedCond:first-letter{
    text-transform: uppercase;
}
.run-btn{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    box-shadow: none;

}

.fixedpos{
    position: fixed;
    right: 0;
    bottom: 0;
    /*top:0;*/
}
.run-btn-s{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    box-shadow: none;
}
.selectedReport, .selectedReport:focus{
    border-radius: 0;
    /*-moz-appearance: none;*/
    border: 0;
    outline: 1px inset black; 
    outline-offset:-1px;

}
.selectedReport:focus{
    box-shadow: none;
    border-radius: 0;
}

.fa-clipboard-list{
    font-size: 200%;
}
.fa-trash-alt{
    margin-top:5px;
    font-size: 150%;
}
.fas:hover{
    cursor: pointer;
    /*color:#4CAF50;*/
    /*color:#E2EFDA;*/
}


.modal-header {
    border-bottom: none;
    padding: 25px 15px 5px 15px;
    box-shadow: -10px 24px 3px -24px #000;
}
.modalFooter {
    background: #F1F1F1;
    border-top: 1px solid #999;
/*    -moz-box-shadow: inset 0px 13px 12px -14px #888;
    -webkit-box-shadow: inset 0px 13px 12px -14px #888;*/
    box-shadow: inset 0px 13px 12px -14px #888;
}
.minwidth45{
    min-width: 45px;
}